*.class
.vscode
.gb
.gbc
Todo.txt
coffeegb
Test Roms
*.txt
!src/main/resources/LICENSE.txt
gbctr.pdf
*.lst
*.jar
pom.properties
scripts
cache
target
build
checkpoint
docs/javadoc
saves/*.sav
saves/*.rtc
quickstates/*.gqs
library/roms/*.gb
library/roms/*.gbc
devassets
demo-roms-dev
release
.github
releaseNotes.md
