*.class
.vscode
.gb
.gbc
Todo.txt
coffeegb
Test Roms
*.txt
!src/main/resources/LICENSE.txt
gbctr.pdf
*.lst
*.jar
pom.properties
scripts
src/test/java
cache
target
saves/*.sav
quickstates/*.gqs
library/roms/*.gb
library/roms/*.gbc